.FormContact {
  background-color: #f7e1ca;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  font-family: Nunito, sans-serif;
  border-radius: 4px;
}

.FormContact span {
  color: var(--rojo-claro);
  font-size: 14px;
}

.FormContact h3{
  text-transform: uppercase;
  font-weight: bold;
  opacity: .5;
}

.FormContact input,
textarea,
button {
  border: none;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 10px;
  font-weight: bold;
  border-radius: 3px;
}

.FormContact input:focus,
textarea:focus {
  outline: 0px;
  border-bottom: 1px solid rgb(0, 173, 253);
}

.FormContact input:focus::placeholder,
textarea:focus::placeholder {
  transform: scale(0.7);
  transform-origin: top left;
  opacity: 0.5;
}

.FormContact .Colx2,
.Colx1 {
  display: flex;
  margin: 10px 0px;
}

.FormContact .Colx1 {
  flex-direction: column;
}

.FormContact .Colx1 textarea {
  width: 100%;
}

.FormContact .Colx2 .Col-1,
.Col-2 {
  width: 100%;
  margin: 5px 0px;
}

.FormContact .Colx2 input {
  width: 98%;
}

.FormContact .Colx1 .Button {
  width: 100%;
  color: white;
  font-size: 15px;
  margin-top: 8px;
  background-color: rgb(4, 153, 153);
  cursor: pointer;
}


@media screen and (max-width: 777px) {
  .FormContact .Colx2, .Colx1{
    flex-direction: column;
    margin: 0px;
  }

  .FormContact {
    max-width: 400px;
  }

  
}
