.Headernav {
    background-color: #eaa06a;    
    display: flex;
    padding: 10px;
}

.Headernav .Links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Headernav .Logo {
    width: 100%;
    border-bottom: 5px solid rgb(169, 38, 17);
}
.Headernav .Links ul{
    display: flex;
}

.Headernav .Links ul li{
    list-style: none;
}

.Headernav .Links ul li a{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color:white;
    font-family: Rubik;
    text-transform: capitalize;
    font-weight: bold;
}

.Headernav .Links ul li a:hover{
   color: #6a3814;
   transition: .3s;
}

.Headernav .Logo img{
max-width: 100%;
}

@media(max-width:620px){
    .Headernav {
       flex-direction: column;
       align-items: center;
    }

    .Headernav .Links ul li a{
        font-size: 15px;
    }
}