* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Lato;
}

:root{
  --primary-color: #a31e22;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 50px;
  color: var(--primary-color);
}

h2 {
  font-size: 70px;
  text-transform: capitalize;
  color: var(--primary-color);
}

h3 {
  font-size: 25px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 18px ;
}

body {
  height: 100%;
  background-image: url('../src/img/p0.svg');
  background-size: cover;
}


@media (max-width: 800px) {
  p{
    font-size: 16px !important;
  }
  h1{
    font-size: 30px;
  }

  h2{
    font-size: 35px;
    text-align: center;
  }

  h3{
    font-size: 18px;
  }
}