*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: #9B6832;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.FormComents {
  margin: 10px;
  width:100%;
  max-width: 400px;
}

@media (max-width: 830px) {
  .App-header {
    flex-direction: column;
  }

  .FormComents {
    margin: auto;
  }
}
